@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.login-box{
  width: 300px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  border: thistle;
  border-style: double;
}
.login-box h1{
  float: left;
  width: 250px;
  font-size: 40px;
  border-bottom: 4px solid #ffa500;
  margin-bottom: 50px;
  padding: 13px 0;
  margin: 8px 15px;
}
.textbox{
  width: 70%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 15px;
  border-bottom: 2px solid #ffa500;
}
.textbox i{
  width: 0px;
  float: left;
  text-align: center;
}
.textbox input{
  font-style: italic;
  font-family: sans-serif;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 15px;
}

button{
  align-items: center;
  width: 50%;
  background-color: #ffa500;
  border: 2px solid #ffa500;
  color: #0326F0;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 23%;
  margin-top: 15px;
}
a{
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
